body {
    font-family: "Lato", sans-serif;
}

pre, code {
    font-weight: 700;
    font-family: "Source Code Pro", monospace;
}

header {
    background-color: #eee;
    border-top: 5px solid #4900bf;
}

header .brand {
    color: #4900bf;
    font-size: 3em;
    text-shadow: 0.025em 0.025em 0 #eee,
                 0.05em  0.05em  0 #b5b5b5;
}

/*
header .clicky-button {
    background-color: #4900bf;
    color: #eee;
}

header .clicky-button.active {
    background-color: #6b22ff;
}

header .clicky-button:active,
header .clicky-button:focus,
header .clicky-button:hover {
    background-color: #8d44ff;
}
*/
